@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Nunito:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #524F81;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #A7D8F8;
}

button {
  background-color: transparent;
  color: #A7D8F8;
  border: 2px solid #A7D8F8;
  margin-top: 20px;
  height: 2rem;
  width: 8rem;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #A7D8F8;
  color: #2C3E50;
}

h1 {
  font-family: "Baloo 2";
}

p {
  font-family: "Nunito";
  color: #E0E0E0;
}

h1 {
  font-family: 'Balo 2';
  font-weight: 900;
  color: #F3C6F0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  margin-left: 10px;
  font-family: 'Balo 2';
  font-size: 1.3rem;
  font-weight: 700;
  color: #F3C6F0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
  text-align: left;
}

.genre {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: left;
}

.genre-label {
  background-color: #89CFF0;
  color: #2C1A5F;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;
  display: inline-flex;
  align-items: left;
  justify-content: left;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.genre-label:hover {
  background-color: #A0E0FF;
  color: #2E2E2E;
}

.genre:checked + .genre-label {
  background-color: #2C1A5F;
  color: #F3C6F0;
}


