@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Nunito:wght@400;600&display=swap');

*{
    margin: 0;
}
body{
    background-color: #524F81;
}

.welcomePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: #A7D8F8;
}

button {
    background-color: transparent;
    color: #A7D8F8;
    border: 2px solid #A7D8F8;
    margin-top: 20px;
    height: 2rem;
    width: 8rem;
    border-radius: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #A7D8F8;
    color: #2C3E50;
}


h1{
    font-family: "Baloo 2";
}

p{
    font-family: "Nunito";
    color: #E0E0E0;
}
